@mixin typographyStyles() {
  color: #FFFFFF;	
  font: 700 12px / 16px Montserrat;
  letter-spacing: .2px;
}

.profile-view {
  .kyc-status {
    margin-bottom: 24px;

    i {
      font-size: 20px;
    }

    span {
      margin-left: 12px;
    }
  }

  .group {
    margin-bottom: 6px;
  }

  .kyc-button {
    height: 36px;	
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include typographyStyles();
  }

  .kyc-accepted {
    background-color: #336699;
  }

  .kyc-default, .kyc-failed {
    background-color: #EC1D25;
  }

  .kyc-pending {
    background-color: #F9A937;
  }

  .form-info{
    .label {
      @include typographyStyles();
      margin-bottom: 14px;
    }
  
    .value {
      color: #4CC1FC;
      font: 400 14px / 20px	Montserrat;
    }
  }

  .small-under-button {
    margin-top: 12px;
    color: #FFFFFF;	
    font: 10px / 14px Montserrat;
    text-align: right;
    text-decoration: underline;
  }
}