.manual-transfers-view {
  .page-description {
    margin-bottom: 13px;
  }

  .form-group {
    margin-bottom: 16px;

    label {
      position: relative;
      display: inline-block;
    }
  }

  .info-tooltip {
    position: absolute;
    right: -35px;
    top: 50%;

    .text {
      margin-bottom: 18px;
      width: 235px;
      left: -239px;
      bottom: 100%;
      top: auto;

      &:after {
        top: 100%;
        left: 91%;
        border-bottom: 0;
        border-top: 10px solid #EEEEEE;
      }
    }
  }

  .input-field[type=text] {
    color: #336699;
    font-size: 12px;
  }

  .main-action-button {
    margin-top: auto;
  }
}