.transfers-view {
  .red {
    color: #EC1D25;
  }

  .learn-more {
    display: block;
    width: 100%;
    margin-top: 8px;
    color: #222222;	
    font-family: Montserrat;	
    font: 400 10px / 14px Montserrat;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
  }

  .stats-representation {
    justify-content: center;
    margin-bottom: 8px;

    .info-tooltip {
      margin-left: 13px;
    }

    .text {
      width: 176px;
      left: -88px;
    }

    .column {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  .green {
    color: #00CB00;
  }

  .caption-link {
    display: block;
    text-align: center;
    text-decoration: underline;
    color: #FFFFFF;	
    font: 10px / 14px Montserrat;
    cursor: pointer;
  }

  .active-period {
    color: #EC1D25;	
    font: 400 10px / 14px Montserrat;
    text-align: center;
  }

  .infinite-list-row {
    p {
      margin: 0;
      padding: 0;
      line-height: 18px;
      letter-spacing: 0.2px;
      font-size: 12px;
      color: #EEEEEE;
      &.txhash {
        width: 87px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        text-align: left;
        white-space: nowrap;
        a {
          color: #4CC1FC;
          text-decoration: none;
        }
      }

      &.date {
        width: 54px;
        text-align: left;
      }

      &.unit {
        text-transform: uppercase;
      }
    }

    i {
      font-size: 20px;
    }

  }

  .control-transfer-action-area {
    margin-top: auto;
    color: #EEEEEE;
    text-align: center;
  }

  .transfers-warning-message {
    margin: 0 -10px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 20px;
  }

  .transfers-auto-transfers-warning {
    margin: 0;
    font-size: 10px;
    line-height: 14px;

    .go-to-settings-btn {
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .main-action-button {
    position: relative;
  }

  .info-tooltip-red {
    position: absolute;
    top: -19%;
    right: 0;

    .notification-icon {
      position: absolute;
      top: -4px;
      right: -4px;
      height: 24px;
      width: 24px;
      color: #EEEEEE;

      .fa {
        font-size: 23px;
        line-height: 23px;
      }
    }

    .text {
      width: 235px;
      position: absolute;
      right: -10px;
      top: -77px;
      margin-bottom: 15px;
      margin-top: 0;
      text-transform: none;

      &::after {
        left: initial;
        right: 10px;
        bottom: -10%;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #EEEEEE;
        border-bottom: none;
      }
    }
  }

  .select-period-container {
    display: block;
    text-align: right;
    position: relative;
    line-height: 16px;
    cursor: pointer;
  }

  .select-control-period-items {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      display: inline-block;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 14px;

      span {
        text-align: right;
        display: inline-block;
      }
    }

    .button {
      width: 16px;
      height: 16px;
      padding: 0;
      border: none;
      background: transparent;
      color: #EC1D25;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      cursor: pointer;

      &:focus {
        border: none;
        background: inherit;
        color: inherit;
        outline: none;
      }

      &:before,
      &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 3px solid #EC1D25;
      }

      &:after {
        transform: rotate(180deg);
      }
    }
  }

  .options-period-container {
    width: auto;
    min-width: 55px;
    border: 1px solid #c4cdd5;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
    z-index: 2;
    font-size: 14px;
    text-align: center;
    display: none;
    z-index: 99;

    span {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      user-select: none;
      padding: 10px 24px;
      background-color: #ffffff;
      border-bottom: 1px solid #999999;
      cursor: pointer;
      color: #4A4A4A;	
      font: 500 12px / 16px Montserrat;

      &:nth-last-of-type(1) {
        border-bottom: 0;
      }

      &:hover {
        background-color: #d9d9d9;
        transition: background-color 0.3s linear;
      }
    }
  }
}
