@import 'blade/common.scss';

.initial-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.initial-view .desciption {
  padding: 0 15px;
  color: #ffffff;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.initial-view .logo {
  padding-top: 65px;
  text-align: center;
}

.terms-and-conditions {
  display: flex;
  flex-direction: column;
}

.terms-and-conditions .text {
  width: 256px;
  height: 172px;
  padding: 10px 12px;
  margin: 32px auto 0;
  overflow: auto;
  background: white;
}

.terms-and-conditions .text p {
  margin-bottom: 16px;
  color: #4A4A4A;	
  font: 500 12px / 16px Montserrat;
}

.terms-and-conditions .main-action-button {
  margin-top: auto;
}

.terms-and-conditions label {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 16px;
  color: #4A4A4A;	
  font: 700 12px / 16px Montserrat;
  letter-spacing: 0.2px;
  cursor: pointer;
  user-select: none;
}

.terms-and-conditions label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.terms-and-conditions label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;	
  width: 16px;	
  border: 1px solid #999999;
  background-color: #FFFFFF;	
}

.terms-and-conditions label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.terms-and-conditions label input:checked ~ .checkmark:after {
  display: block;
}

.terms-and-conditions label .checkmark:after {
  left: 7px;
  top: -3px;
  width: 4px;
  height: 11px;
  border: solid #EC1D25;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.create-password-view {
  display: flex;
  flex-direction: column;
}

.create-password-view form {
  margin-top: 56px;
}

.create-password-view .form-group {
  margin-bottom: 22px;
}

.create-password-view .form-group .input {
  position: relative;
}

.create-password-view label {
  display: block;
  margin-bottom: 6px;
  color: #EEEEEE;	
  font: 700 12px / 16px Montserrat;
  letter-spacing: 0.2px;
}

.create-password-view input {
  width: 100%;
  height: 36px;	
  padding: 14px;
  font-size: 28px;
  padding-right: 35px;
  border: 1px solid #999999;	
  background-color: #FFFFFF;
}

.create-password-view input[type=text] {
  font-family: Montserrat;
  font-size: 14px;
}

.create-password-view .main-action-button {
  margin-top: auto;
}

.create-password-view .icon {
  position: absolute;
  top: 50%;
  right: 12px;
  color: #606060;
  font-size: 18px;
  transform: translateY(-50%);
  cursor: pointer;
}

.secret-phrase-view {
  display: flex;
  flex-direction: column;
}

.secret-phrase-view .secret-phrase-container {
  margin-top: 34px;
}

.secret-phrase-view .label {
  margin-bottom: 6px;
  color: #EEEEEE;	
  font: 700 12px / 16px Montserrat;
  letter-spacing: .2px;
}

.secret-phrase-view .phrase-wrapper {
  position: relative;
  padding: 10px 48px 10px 12px;
  border: 1px solid #999999;	
  background-color: #FFFFFF;
}

.secret-phrase-view .phrase-wrapper p {
  color: #4A4A4A;	
  font: 500 12px / 16px Montserrat;
}

.secret-phrase-view .action-phrase-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -1px;
  top: -1px;
  height: calc(100% + 2px);
  padding: 0 3px;
  background-color: #EC1D25;
}

.secret-phrase-view .action-phrase-buttons button {
  width: 36px;
  height: 33px;
  cursor: pointer;
}

.secret-phrase-view .action-phrase-buttons button:nth-of-type(1) {
  border-bottom: 1px solid white;
}

.secret-phrase-view .main-action-button {
  margin-top: auto;
}

.secret-phrase-view .fa-download, .fa-copy{
  color: #FFFFFF;	
  font-size: 20px;	
  font-weight: 500;	
  line-height: 24px;	
  text-align: center;
}

.secret-phrase-view .phrase-wrapper .tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 8px 12px;
  color: white;
  font:  700 14px / 20px Montserrat;  
  border-radius: 6px;
  background: black;
  zoom: 1.01;
  transition: .25s;
}

.secret-phrase-view .tooltip.hidden {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.secret-phrase-view .tooltip.visible {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
