.feed-view {
  .info-tooltip .text {
    right: -10px;
    width: 208px;
  }

  .info-tooltip .text:after {
    left: 89%;
  }

  .infinite-list-content {
    margin-top: 15px;
  }

  .infinite-list-row {
    i.fa-sign-out {
      color: #EC1D25;
      font-size: 20px;
      letter-spacing: 2px;
      text-align: center;
      cursor: pointer;
    }

    button {
      color: #4CC1FC;
      font: 12px / 18px Montserrat;	
      letter-spacing: .2px;
      cursor: pointer;
    }
  }

  .amount {
    margin-right: 24px;
    color: #EEEEEE;
    font: 400 12px / 18px Montserrat;
    letter-spacing: .2px;
  }
}
