.wrapper-hidden {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  background: none;
  border: none;

  &[disabled] {
    opacity: .5;
    cursor: default;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-app-wrapper {
  position: relative;
  width: 305px;
  height: 450px;
  padding: 24px;
  background: url(./blade_assets/blade-background-all-other-screens.png) 0 0 / cover no-repeat;
}

.main-app-wrapper.custom-bg {
  background: url(./blade_assets/blade-background-get-started.png) 0 0 / cover no-repeat;
}

.main-app-wrapper > div {
  height: 100%;
}

.main-action-button {
  width: 100%;
  height: 36px;
  background-color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #222222;
  font: 700 12px / 16px Montserrat;
  letter-spacing: .2px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.main-action-button.disabled {
  border: 2px solid #EC1D25;
}

.input-invalid {
  border: 2px solid #EC1D25 !important;
}

.underlogo-desc {
  position: relative;
  color: #EEEEEE;
  font: bold 14px / 20px Montserrat;
  letter-spacing: 0.2px;
  text-align: center;
}

.logo {
  text-align: center;
  margin-bottom: 25px;
}

.error {
  position: absolute;
  top: 100%;
  left: 12px;
  margin: 2px 0 0 0;
  color: #ec1d25;
  font-size: 10px;
  line-height: 14px;
}

.caption {
  margin-top: 5px;
  color: #FFFFFF;
  text-align: center;
  font: 10px / 14px Montserrat;
  cursor: pointer;
  text-decoration: underline;
}

.form-group {
  margin-bottom: 22px;

  .input-wrapper {
    position: relative;
  }

  label {
    display: block;
    margin-bottom: 6px;
    color: #EEEEEE;
    font: 700 12px / 16px Montserrat;
    letter-spacing: 0.2px;
  }

  .input-field {
    width: 100%;
    height: 36px;
    padding: 14px;
    font-size: 28px;
    padding-right: 35px;
    border: 1px solid #999999;
    background-color: #FFFFFF;

    &[type=text] {
      font-family: Montserrat;
      font-size: 14px;
    }
  }

  .icon {
    position: absolute;
    top: 50%;
    right: 12px;
    color: #606060;
    font-size: 18px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.info-tooltip {
  position: relative;
  display: inline-block;

  &:hover {
    .text {
      visibility: visible;
      opacity: 1;
    }
  }

  .text {
    position: absolute;
    top: 100%;
    margin-top: 10px;
    padding: 8px;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    background-color: #EEEEEE;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    z-index: 999;

    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 0;
      height: 0;
      left: 50%;
      bottom: 100%;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #EEEEEE;
    }

    p {
      color: #222222;
      font: 10px / 13px Montserrat;
      letter-spacing: .5px;
      text-align: center;
    }
  }

  .icon {
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: .2px;
  }
}

.toggle-checkbox {
  input[type=checkbox] {
    display:none;
  }

  .slide-toggle {
    display: block;
    position: relative;
    flex: none;
    width: 32px;
    height: 16px;
    border-radius: 8px;
    background-color: #EC1D25;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    z-index: 1;

    &::before {
      content: '✓';
      content: '✕';
      display: block;
      position: absolute;
      left: auto;
      right: 4px;
      font-size: 12px;
      color: white;
    }

    &::after {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 1px;
      border-radius: 15px;
      height: 15px;
      width: 15px;
      background-color: #EEEEEE;
      transform: translate3d(0,0,0);
      transition: 0.2s cubic-bezier(0, 1.1, 1, 1.1);
      box-shadow: 2px 0 2px 0 rgba(0,0,0,0.5);
      z-index: 1;
    }
  }

  input:checked + .slide-toggle {
    background-color: #12BC00;

    &::after {
      transform: translate3d(14px,0,0);
    }

    &::before {
      content: '✓';
      left: 4px;
      top: 0px;
    }
  }
}

.main-navbar-header {
  position: relative;
  margin: -24px -24px 16px;
  box-shadow: 0 1px 0 0 #151515;

  .top-section {
    height: 56px;
    text-align: center;
  }

  img {
    margin-top: 8px;
    height: 32px;
    width: 59px;
  }

  .burger-menu {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 24px;
    cursor: pointer;
  }

  .active-menu {
    position: relative;
    padding: 16px 0;
    background-color: rgba(#333333, .5);

    .tab-item {
      color: #EEEEEE;
      font: 700 12px / 16px Montserrat;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .info-tooltip {
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
  }
}

.settings-tab-group {
  margin-bottom: 30px;

  li {
    display: inline-block;
    margin-right: 12px;
    list-style: none;
    padding-bottom: 2px;
    color: #EEEEEE;
    font: 700 12px / 16px Montserrat;
    letter-spacing: 1px;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }
  }

  ul {
    display: flex;
    justify-content: center;
  }

  .active {
    border-bottom: 2px solid #EC1D25;
  }
}

.notification-icon {
  position: absolute;
  top: -4px;
  right: -4px;
  height: 16px;
  width: 16px;
  color: #EEEEEE;
  border-radius: 50%;
  background: #EC1D25;

  .fa {
    display: block;
    margin-left: 1px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
  }
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0,0,0,.9);

  .notification-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    right: -35px;
    width: 24px;
    height: 24px;
  }

  li span {
    position: relative;

    .fa {
      font-size: 18px;
      font-weight: 500;
      line-height: 16px;
    }
  }

  .logo {
    margin: 8px auto 0 auto;
    height: 32px;
    width: 59px;
  }

  &.hidden {
    display: none;
  }

  .close {
    position: absolute;
    right: 19px;
    top: 19px;
    width: 18px;
    height: 18px;
    opacity: .7;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &:before, &:after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 18px;
      width: 2px;
      background-color: #fff;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  .toggler {
    position: absolute;
    left: 50%;
    bottom: 36px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin-right: 12px;
      color: #EEEEEE;
      font: bold 12px / 16px Montserrat;
      letter-spacing: .2px;
    }
  }

  .menu-list {
    margin: auto 0;

    li {
      position: relative;
      color: #EEEEEE;
      font: 900 16px / 36px Montserrat;
      letter-spacing: .8px;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;

      &:hover:after, &.active:after {
        content: '';
        display: block;
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        border: 1px solid #EC1D25;
      }
    }
  }
}
