.confirm-secret-phrase-view {
  .phrase-wrapper {
    margin: 12px -24px 4px 0;
  }
  
  .word-block {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 4px 8px;
    color: #4A4A4A;	
    font: 10px / 14px Montserrat;
    border-radius: 6px;	
    text-transform: uppercase;
    background-color: #EEEEEE;
    cursor: pointer;
    user-select: none;

    &.selected {
      background-color: #EC1D25;
      color: white;
    }
  }
  
  .phrase-block {
    position: relative;
    height: 68px;	
    width: 256px;
    padding: 10px 12px;
    border: 1px solid #999999;	
    background-color: #FFFFFF;

    .placeholder, .secret-phrase {
      color: #999999;	
      font: 500 12px / 16px Montserrat;
    }
  }

  .view-correct-button {
    position: absolute;
    top: 100%;
    right: 12px;
    margin: 2px 0 0 0;
    color: #F6F6F6;	
    text-decoration: underline;
    font: 10px / 14px Montserrat;
    cursor: pointer;

    &.hidden {
      visibility: hidden;
    }
  }

  .main-action-button {
    margin-top: auto;
  }
}