$size: 10px;

@mixin three-dots($size: 10px, $a: 0, $b: 0, $c: 0, $color: #d9d9d9) {
  $margin: $size*0.5;
  $x: ($size + $margin);
  $y: $size;

  box-shadow:
    $x*-1 $y 0 rgba($color,$a),
    0 $y rgba($color,$b),
    $x $y rgba($color,$c);
}

@mixin three-dots-container {
  display: block;
  margin: 0 auto;
  background: transparent;
  width: $size;
  height: $size;
  border-radius: 100%;
  animation: bounce 1s infinite ease-in-out;
  @include three-dots;
}

.sending-request {
  margin-bottom: 15px;
  &:after {
    content: "";
    @include three-dots-container;
  }
}

@keyframes bounce {
  0% {
    @include three-dots;
  }
  16% {
    @include three-dots($a: 1);
  }
  32% {
    @include three-dots($a: 1, $b: 1);
  }
  48% {
    @include three-dots($a: 1, $b: 1, $c: 1);
  }
  66% {
    @include three-dots($b: 1, $c: 1);
  }
  82% {
    @include three-dots($c :1);
  }
  100% {
    @include three-dots;
  }
}
