.manual-transfers-view {
  .manual-transfer-form-description {
    position: relative;
    color: #EEEEEE;
    font: bold 14px / 20px Montserrat;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 48px;
    i {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}