.recover-password-view {
  .fa-long-arrow-left {
    position: absolute;
    left: 0;
    color: #FFFFFF;	
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
  }
  
  .form-group {
    margin-bottom: 18px;
  }

  .underheader {
    margin-top: 20px;
    color: #EEEEEE;	
    font: 700 14px / 20px Montserrat;
    letter-spacing: .2px;
    text-align: center;
  }

  form {
    margin-top: 40px;
  }

  .main-action-button {
    margin-top: auto;
  }
} 