.wrapper-hidden {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

button {
  background: none;
  border: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-app-wrapper {
  width: 305px;
  height: 450px;
  padding: 24px;
  background: url(./blade_assets/blade-background-all-other-screens.png) 0 0 / cover no-repeat;
}

.main-app-wrapper.custom-bg {
  background: url(./blade_assets/blade-background-get-started.png) 0 0 / cover no-repeat;
}

.main-app-wrapper > div {
  height: 100%;
}

.main-action-button {
  width: 100%;
  padding: 10px;
  background-color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #222222;
  font: 700 12px / 16px Montserrat;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.main-action-button.disabled {
  border: 2px solid #EC1D25;
}

.input-invalid {
  border: 2px solid #EC1D25 !important;
}

.underlogo-desc {
  color: #EEEEEE;	
  font: bold 14px / 20px Montserrat;
  letter-spacing: 0.2px;
  text-align: center;
}

.logo {
  text-align: center;
  margin-bottom: 25px;
}

.error {
  position: absolute;
  top: 100%;
  left: 12px;
  margin: 2px 0 0 0;
  color: #ec1d25;
  font-size: 10px;
  line-height: 14px;
}

.caption {
  margin-top: 5px;
  color: #FFFFFF;
  text-align: center;
  font: 10px / 14px Montserrat;
  cursor: pointer;
  text-decoration: underline;
}