@charset "UTF-8";
.wrapper-hidden {
  display: none; }

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; }
  body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

li {
  list-style-type: none; }

button {
  background: none;
  border: none; }
  button[disabled] {
    opacity: .5;
    cursor: default; }

.flex-column {
  display: flex;
  flex-direction: column;
  height: 100%; }

.main-app-wrapper {
  position: relative;
  width: 305px;
  height: 450px;
  padding: 24px;
  background: url(./blade_assets/blade-background-all-other-screens.png) 0 0/cover no-repeat; }

.main-app-wrapper.custom-bg {
  background: url(./blade_assets/blade-background-get-started.png) 0 0/cover no-repeat; }

.main-app-wrapper > div {
  height: 100%; }

.main-action-button {
  width: 100%;
  height: 36px;
  background-color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #222222;
  font: 700 12px / 16px Montserrat;
  letter-spacing: .2px;
  cursor: pointer; }

.main-action-button.disabled {
  border: 2px solid #EC1D25; }

.input-invalid {
  border: 2px solid #EC1D25 !important; }

.underlogo-desc {
  position: relative;
  color: #EEEEEE;
  font: bold 14px / 20px Montserrat;
  letter-spacing: 0.2px;
  text-align: center; }

.logo {
  text-align: center;
  margin-bottom: 25px; }

.error {
  position: absolute;
  top: 100%;
  left: 12px;
  margin: 2px 0 0 0;
  color: #ec1d25;
  font-size: 10px;
  line-height: 14px; }

.caption {
  margin-top: 5px;
  color: #FFFFFF;
  text-align: center;
  font: 10px / 14px Montserrat;
  cursor: pointer;
  text-decoration: underline; }

.form-group {
  margin-bottom: 22px; }
  .form-group .input-wrapper {
    position: relative; }
  .form-group label {
    display: block;
    margin-bottom: 6px;
    color: #EEEEEE;
    font: 700 12px / 16px Montserrat;
    letter-spacing: 0.2px; }
  .form-group .input-field {
    width: 100%;
    height: 36px;
    padding: 14px;
    font-size: 28px;
    padding-right: 35px;
    border: 1px solid #999999;
    background-color: #FFFFFF; }
    .form-group .input-field[type=text] {
      font-family: Montserrat;
      font-size: 14px; }
  .form-group .icon {
    position: absolute;
    top: 50%;
    right: 12px;
    color: #606060;
    font-size: 18px;
    transform: translateY(-50%);
    cursor: pointer; }

.info-tooltip {
  position: relative;
  display: inline-block; }
  .info-tooltip:hover .text {
    visibility: visible;
    opacity: 1; }
  .info-tooltip .text {
    position: absolute;
    top: 100%;
    margin-top: 10px;
    padding: 8px;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    background-color: #EEEEEE;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    z-index: 999; }
    .info-tooltip .text:after {
      position: absolute;
      content: '';
      display: block;
      width: 0;
      height: 0;
      left: 50%;
      bottom: 100%;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #EEEEEE; }
    .info-tooltip .text p {
      color: #222222;
      font: 10px / 13px Montserrat;
      letter-spacing: .5px;
      text-align: center; }
  .info-tooltip .icon {
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: .2px; }

.toggle-checkbox input[type=checkbox] {
  display: none; }

.toggle-checkbox .slide-toggle {
  display: block;
  position: relative;
  flex: none;
  width: 32px;
  height: 16px;
  border-radius: 8px;
  background-color: #EC1D25;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  z-index: 1; }
  .toggle-checkbox .slide-toggle::before {
    content: '✓';
    content: '✕';
    display: block;
    position: absolute;
    left: auto;
    right: 4px;
    font-size: 12px;
    color: white; }
  .toggle-checkbox .slide-toggle::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 1px;
    border-radius: 15px;
    height: 15px;
    width: 15px;
    background-color: #EEEEEE;
    transform: translate3d(0, 0, 0);
    transition: 0.2s cubic-bezier(0, 1.1, 1, 1.1);
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.5);
    z-index: 1; }

.toggle-checkbox input:checked + .slide-toggle {
  background-color: #12BC00; }
  .toggle-checkbox input:checked + .slide-toggle::after {
    transform: translate3d(14px, 0, 0); }
  .toggle-checkbox input:checked + .slide-toggle::before {
    content: '✓';
    left: 4px;
    top: 0px; }

.main-navbar-header {
  position: relative;
  margin: -24px -24px 16px;
  box-shadow: 0 1px 0 0 #151515; }
  .main-navbar-header .top-section {
    height: 56px;
    text-align: center; }
  .main-navbar-header img {
    margin-top: 8px;
    height: 32px;
    width: 59px; }
  .main-navbar-header .burger-menu {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 24px;
    cursor: pointer; }
  .main-navbar-header .active-menu {
    position: relative;
    padding: 16px 0;
    background-color: rgba(51, 51, 51, 0.5); }
    .main-navbar-header .active-menu .tab-item {
      color: #EEEEEE;
      font: 700 12px / 16px Montserrat;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      text-align: center; }
  .main-navbar-header .info-tooltip {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%); }

.settings-tab-group {
  margin-bottom: 30px; }
  .settings-tab-group li {
    display: inline-block;
    margin-right: 12px;
    list-style: none;
    padding-bottom: 2px;
    color: #EEEEEE;
    font: 700 12px / 16px Montserrat;
    letter-spacing: 1px;
    cursor: pointer; }
    .settings-tab-group li:last-of-type {
      margin-right: 0; }
  .settings-tab-group ul {
    display: flex;
    justify-content: center; }
  .settings-tab-group .active {
    border-bottom: 2px solid #EC1D25; }

.notification-icon {
  position: absolute;
  top: -4px;
  right: -4px;
  height: 16px;
  width: 16px;
  color: #EEEEEE;
  border-radius: 50%;
  background: #EC1D25; }
  .notification-icon .fa {
    display: block;
    margin-left: 1px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: center; }

.menu-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9); }
  .menu-wrapper .notification-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    right: -35px;
    width: 24px;
    height: 24px; }
  .menu-wrapper li span {
    position: relative; }
    .menu-wrapper li span .fa {
      font-size: 18px;
      font-weight: 500;
      line-height: 16px; }
  .menu-wrapper .logo {
    margin: 8px auto 0 auto;
    height: 32px;
    width: 59px; }
  .menu-wrapper.hidden {
    display: none; }
  .menu-wrapper .close {
    position: absolute;
    right: 19px;
    top: 19px;
    width: 18px;
    height: 18px;
    opacity: .7;
    cursor: pointer; }
    .menu-wrapper .close:hover {
      opacity: 1; }
    .menu-wrapper .close:before, .menu-wrapper .close:after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 18px;
      width: 2px;
      background-color: #fff; }
    .menu-wrapper .close:before {
      transform: rotate(45deg); }
    .menu-wrapper .close:after {
      transform: rotate(-45deg); }
  .menu-wrapper .toggler {
    position: absolute;
    left: 50%;
    bottom: 36px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center; }
    .menu-wrapper .toggler span {
      margin-right: 12px;
      color: #EEEEEE;
      font: bold 12px / 16px Montserrat;
      letter-spacing: .2px; }
  .menu-wrapper .menu-list {
    margin: auto 0; }
    .menu-wrapper .menu-list li {
      position: relative;
      color: #EEEEEE;
      font: 900 16px / 36px Montserrat;
      letter-spacing: .8px;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer; }
      .menu-wrapper .menu-list li:hover:after, .menu-wrapper .menu-list li.active:after {
        content: '';
        display: block;
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        border: 1px solid #EC1D25; }

.get-started-view {
  justify-content: space-between;
  height: 100%; }
  .get-started-view .desciption {
    padding: 0 15px;
    color: #ffffff;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-size: 14px;
    font-weight: bold;
    text-align: center; }
  .get-started-view .logo {
    padding-top: 65px;
    text-align: center; }

.terms-and-conditions .text {
  width: 256px;
  height: 172px;
  padding: 10px 12px;
  margin: 32px auto 0;
  overflow: auto;
  background: white; }

.terms-and-conditions h1 {
  font-size: 22px;
  text-align: center; }

.terms-and-conditions .underheader {
  margin-top: 10px; }
  .terms-and-conditions .underheader p {
    margin-top: 10px;
    text-align: center; }

.terms-and-conditions h3 {
  margin-bottom: 10px; }

.terms-and-conditions h2 {
  text-align: center;
  font-size: 18px; }

.terms-and-conditions .text p {
  margin-bottom: 16px;
  color: #4A4A4A;
  font: 500 12px / 16px Montserrat; }

.terms-and-conditions .main-action-button {
  margin-top: auto; }

.terms-and-conditions label {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 16px;
  color: #4A4A4A;
  font: 700 12px / 16px Montserrat;
  letter-spacing: 0.2px;
  cursor: pointer;
  user-select: none; }
  .terms-and-conditions label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
    .terms-and-conditions label input:checked ~ .checkmark:after {
      display: block; }
  .terms-and-conditions label .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #999999;
    background-color: #FFFFFF; }
    .terms-and-conditions label .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      left: 7px;
      top: -3px;
      width: 4px;
      height: 11px;
      border: solid #EC1D25;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg); }

.secret-phrase-view .secret-phrase-container {
  margin-top: 34px; }

.secret-phrase-view .label {
  margin-bottom: 6px;
  color: #EEEEEE;
  font: 700 12px / 16px Montserrat;
  letter-spacing: .2px; }

.secret-phrase-view .phrase-wrapper {
  position: relative;
  padding: 10px 48px 10px 12px;
  border: 1px solid #999999;
  background-color: #FFFFFF; }
  .secret-phrase-view .phrase-wrapper p {
    color: #4A4A4A;
    font: 500 12px / 16px Montserrat; }
  .secret-phrase-view .phrase-wrapper .tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding: 8px 12px;
    color: white;
    font: 700 14px / 20px Montserrat;
    border-radius: 6px;
    background: black;
    zoom: 1.01;
    transition: .25s; }
    .secret-phrase-view .phrase-wrapper .tooltip.hidden {
      visibility: hidden;
      opacity: 0;
      z-index: -1; }
    .secret-phrase-view .phrase-wrapper .tooltip.visible {
      visibility: visible;
      opacity: 1;
      z-index: 1; }

.secret-phrase-view .action-phrase-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -1px;
  top: -1px;
  height: calc(100% + 2px);
  padding: 0 3px;
  background-color: #EC1D25; }
  .secret-phrase-view .action-phrase-buttons button {
    width: 36px;
    height: 33px;
    cursor: pointer; }
    .secret-phrase-view .action-phrase-buttons button:nth-of-type(1) {
      border-bottom: 1px solid white; }

.secret-phrase-view .main-action-button {
  margin-top: auto; }

.secret-phrase-view .fa-download, .secret-phrase-view .fa-copy {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center; }

.confirm-secret-phrase-view .phrase-wrapper {
  margin: 12px -24px 4px 0; }

.confirm-secret-phrase-view .word-block {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 4px 8px;
  color: #4A4A4A;
  font: 10px / 14px Montserrat;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: #EEEEEE;
  cursor: pointer;
  user-select: none; }
  .confirm-secret-phrase-view .word-block.selected {
    background-color: #EC1D25;
    color: white; }

.confirm-secret-phrase-view .phrase-block {
  position: relative;
  height: 68px;
  width: 256px;
  padding: 10px 12px;
  border: 1px solid #999999;
  background-color: #FFFFFF; }
  .confirm-secret-phrase-view .phrase-block .placeholder, .confirm-secret-phrase-view .phrase-block .secret-phrase {
    color: #999999;
    font: 500 12px / 16px Montserrat; }

.confirm-secret-phrase-view .view-correct-button {
  position: absolute;
  top: 100%;
  right: 12px;
  margin: 2px 0 0 0;
  color: #F6F6F6;
  text-decoration: underline;
  font: 10px / 14px Montserrat;
  cursor: pointer; }
  .confirm-secret-phrase-view .view-correct-button.hidden {
    visibility: hidden; }

.confirm-secret-phrase-view .main-action-button {
  margin-top: auto; }

.verify-kyc-view .underlogo-desc {
  padding: 0 10px; }

.verify-kyc-view .verify-kyc-button {
  display: flex;
  align-items: center;
  padding-left: 18px;
  margin-top: 32px;
  height: 36px;
  color: white;
  background-color: #EC1D25; }

.verify-kyc-view .main-action-button:nth-of-type(2) {
  margin-top: auto; }

.verify-kyc-view .icon-user-unfollow {
  margin-right: 12px;
  font-size: 20px;
  letter-spacing: 0.33px;
  line-height: 20px; }

.create-password-view form {
  margin-top: 56px; }

.create-password-view .main-action-button {
  margin-top: auto; }

.set-external-wallet-view .underlogo-desc {
  padding: 0 10px; }

.set-external-wallet-view .icon {
  cursor: default; }

.set-external-wallet-view .form-group .input-field {
  color: #336699;
  font: 500 12px / 16px Montserrat; }

.set-external-wallet-view .main-action-button {
  margin-top: auto; }

.set-external-wallet-view .checkbox-wrapper {
  display: flex;
  align-items: center;
  margin: 36px 0 20px 0; }
  .set-external-wallet-view .checkbox-wrapper .label {
    margin-right: 8px;
    color: #EEEEEE;
    font: bold 12px / 16px Montserrat;
    letter-spacing: .2px; }
  .set-external-wallet-view .checkbox-wrapper .toggle-checkbox {
    margin-left: auto; }
  .set-external-wallet-view .checkbox-wrapper .info-tooltip .text {
    width: 232px;
    right: -67px; }
    .set-external-wallet-view .checkbox-wrapper .info-tooltip .text:after {
      left: 65.5%; }

.registration-completed-view .underlogo-desc {
  margin-top: 73px; }

.registration-completed-view .fa-check {
  display: block;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 47px;
  color: #EC1D25;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: .91px;
  line-height: 74px; }

.registration-completed-view .skip {
  display: block;
  margin: auto;
  text-decoration: underline;
  color: #FFFFFF;
  font: 10px / 14px Montserrat;
  text-align: center;
  cursor: pointer; }

.about-view .content {
  text-align: center; }

.about-view .logo {
  margin-bottom: 16px;
  text-align: center;
  height: 104px;
  width: 144px; }

.about-view .title {
  color: #EEEEEE;
  font: 700 12px / 16px Montserrat;
  letter-spacing: .2px; }

.about-view .version-number {
  margin-top: 4px;
  margin-bottom: 12px;
  color: #FFFFFF;
  font: 14px / 20px Montserrat; }

.about-view .link-item {
  margin-top: 8px;
  color: #4CC1FC;
  font: 14px / 20px Montserrat;
  cursor: pointer; }

.recover-phrase-view .fa-long-arrow-left {
  position: absolute;
  left: 0;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer; }

.recover-phrase-view .underheader {
  margin-top: 20px;
  color: #EEEEEE;
  font: 700 14px / 20px Montserrat;
  letter-spacing: .2px;
  text-align: center; }

.recover-phrase-view .content-wrapper {
  position: relative;
  margin-top: 36px; }

.recover-phrase-view .label {
  margin-bottom: 6px;
  color: #EEEEEE;
  font: 700 12px / 16px Montserrat;
  letter-spacing: .2px; }

.recover-phrase-view textarea {
  width: 100%;
  padding: 10px 12px;
  color: #4A4A4A;
  height: 68px;
  border: 1px solid #999999;
  background-color: #FFFFFF;
  resize: none;
  font: 500 12px / 16px Montserrat;
  overflow: hidden; }

.recover-phrase-view .main-action-button {
  margin-top: auto; }

.recover-password-view .form-group {
  margin-bottom: 18px; }

.recover-password-view .underheader {
  margin-top: 20px;
  color: #EEEEEE;
  font: 700 14px / 20px Montserrat;
  letter-spacing: .2px;
  text-align: center; }

.recover-password-view form {
  margin-top: 40px; }

.recover-password-view .main-action-button {
  margin-top: auto; }

.recover-completed-view .underlogo-desc {
  margin-top: 73px; }

.recover-completed-view .fa-check {
  display: block;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 47px;
  color: #EC1D25;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: .91px;
  line-height: 74px; }

.recover-completed-view .skip {
  display: block;
  margin: auto;
  text-decoration: underline;
  color: #FFFFFF;
  font: 10px / 14px Montserrat;
  text-align: center;
  cursor: pointer; }

.referrals-view .info-tooltip .text {
  right: -10px;
  width: 208px; }

.referrals-view .info-tooltip .text:after {
  left: 89%; }

.stats-representation {
  margin: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center; }
  .stats-representation .column {
    width: 120px; }
    .stats-representation .column .quantity {
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 900;
      letter-spacing: 0.8px;
      line-height: 24px; }
      .stats-representation .column .quantity span {
        font-size: 10px;
        text-transform: uppercase; }
    .stats-representation .column .description {
      color: #EC1D25;
      font-size: 10px;
      line-height: 14px;
      text-transform: uppercase; }

.referrals-list-container {
  margin: 0 -24px 25px;
  height: 162px;
  background-color: rgba(51, 51, 51, 0.5); }
  .referrals-list-container .referrals-list {
    overflow-y: auto;
    width: 256px;
    height: 162px;
    padding: 8px 0;
    margin: 0 auto; }
    .referrals-list-container .referrals-list .referrals-list-content {
      overflow-x: hidden; }
      .referrals-list-container .referrals-list .referrals-list-content .referrals-list-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px; }
        .referrals-list-container .referrals-list .referrals-list-content .referrals-list-row p {
          margin: 0;
          padding: 0;
          line-height: 18px;
          letter-spacing: 0.2px;
          font-size: 12px;
          color: #EEEEEE; }
          .referrals-list-container .referrals-list .referrals-list-content .referrals-list-row p.email {
            width: 87px;
            overflow-x: hidden;
            text-overflow: ellipsis;
            text-align: center; }
          .referrals-list-container .referrals-list .referrals-list-content .referrals-list-row p.date {
            width: 52px;
            text-align: right; }
          .referrals-list-container .referrals-list .referrals-list-content .referrals-list-row p.unit {
            text-transform: uppercase; }
        .referrals-list-container .referrals-list .referrals-list-content .referrals-list-row i {
          width: 20px; }
        .referrals-list-container .referrals-list .referrals-list-content .referrals-list-row .red {
          color: #EC1D25; }
        .referrals-list-container .referrals-list .referrals-list-content .referrals-list-row .green {
          color: #00CB00; }
    .referrals-list-container .referrals-list::-webkit-scrollbar {
      width: 2px;
      border-radius: 1px; }
    .referrals-list-container .referrals-list::-webkit-scrollbar-track {
      background: transparent; }
    .referrals-list-container .referrals-list::-webkit-scrollbar-thumb {
      background: #999999; }
    .referrals-list-container .referrals-list .select-container {
      position: relative;
      line-height: 16px;
      width: 55px;
      margin-left: 77%;
      cursor: pointer; }
      .referrals-list-container .referrals-list .select-container .select-control-items {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .referrals-list-container .referrals-list .select-container .select-control-items p {
          display: inline-block;
          text-transform: uppercase;
          color: #EEEEEE;
          font-size: 10px;
          line-height: 14px; }
          .referrals-list-container .referrals-list .select-container .select-control-items p span {
            width: 11px;
            text-align: right;
            display: inline-block; }
        .referrals-list-container .referrals-list .select-container .select-control-items .button {
          width: 16px;
          height: 16px;
          padding: 0;
          border: none;
          background: transparent;
          color: #EC1D25;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          cursor: pointer; }
          .referrals-list-container .referrals-list .select-container .select-control-items .button:focus {
            border: none;
            background: inherit;
            color: inherit;
            outline: none; }
          .referrals-list-container .referrals-list .select-container .select-control-items .button:before, .referrals-list-container .referrals-list .select-container .select-control-items .button:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-bottom: 3px solid #EC1D25; }
          .referrals-list-container .referrals-list .select-container .select-control-items .button:after {
            transform: rotate(180deg); }
      .referrals-list-container .referrals-list .select-container .options-container {
        width: 100%;
        border: 1px solid #c4cdd5;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 2;
        font-size: 14px;
        text-align: center;
        display: none; }
        .referrals-list-container .referrals-list .select-container .options-container span {
          font-family: inherit;
          font-size: inherit;
          color: #4A4A4A;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          user-select: none;
          padding: 6px 0;
          background-color: #ffffff;
          border-bottom: 1px solid #f4f6f8;
          cursor: pointer; }
          .referrals-list-container .referrals-list .select-container .options-container span:nth-last-of-type(1) {
            border-bottom: 0; }

.referrals-form-description {
  position: relative;
  color: #EEEEEE;
  font: bold 14px / 20px Montserrat;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 48px; }
  .referrals-form-description i {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer; }

.referrals-view .form-group .input-field {
  font-size: 12px;
  color: #4A4A4A; }
  .referrals-view .form-group .input-field:focus {
    outline: none; }

.referrals-view textarea {
  resize: none;
  width: 100%;
  padding: 10px 12px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #4A4A4A; }
  .referrals-view textarea:focus {
    outline: none; }
